@charset "UTF-8";

#all {
	float: left;
	width: 1300px;
	text-align: center;
}

body {
	margin: 0px;
}

table {
	margin-left: 50px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

th, td:not (#email ), td:not (#operation ){
	padding: 5px;
	width: 120px;
}

#operation {
	width: 155px;
}

#email {
	width: 220px;
}

button {
	height: 27.28px;
	margin-left: 5px;
	background-color: white;
	border: 1px solid black;
	outline: none;
}

input {
	width: 100px;
}

table tr:nth-child(Odd) {
	background-color: #DBDBDB;
}

th {
	background-color: #A5A5A5;
}

#page {
	margin-top: 10px;
}

button:hover {
	background-color: #BBFFFF;
}